process {
    cpus = 8
    shell = ['/bin/bash', '-euo', 'pipefail']
}

conda {
    enabled = true
    useMamba = true
}

profiles {
    cluster {
        conda.createTimeout = '1 h'

        process {
            executor = 'slurm'
            memory = '16 GB'
            time = '1 h'

            withName: DORADO_CONSENSUS {
                clusterOptions = '--gpus=1'
                memory = '64 GB'
                time = '1 h'
            }

            withName: VARIANT_CALLING {
                cpus = 1
                time = '10 m'
            }

            withName: DUCKDB {
                time = '10 m'
            }
        }
    }
}