process {
    shell = ['/bin/bash', '-euo', 'pipefail']
}

profiles {
    standard {
        conda.enabled = true
        conda.useMamba = true
        podman.enabled = true
        process.cpus = 8
        process {
            withName: 'MEDAKA_CONSENSUS' {
                container = 'community.wave.seqera.io/library/medaka:2.1.0--470503f26bea7f37' // arm64
            }
        }
    }
    cluster {
        conda.enabled = true
        conda.useMamba = true
        process.executor = 'slurm'
        singularity.cacheDir = '/data/user/'
        singularity.enabled = true
        singularity.runOptions = '--nv'
        process {
            withName: 'MEDAKA_CONSENSUS' {
                container = 'oras://community.wave.seqera.io/library/medaka:2.1.0--6b3fbc463d2a8644' // amd64
            }
        }
    }
}